@font-face {
  font-family: "Norse Bold";
  src: url("assets/Norsebold.otf");
}

* {
  margin: 0;
}

#left {
  width: 30vw;
  height: 100vh;
  background-image: url("assets/left.jpg");
  background-size: cover;
}
.flexed {
  display: flex;
}

#logogrp {
  height: 20%;
  width: inherit;
  background: rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  position: relative;
  top: 20%;
}

#logogrp img {
  height: 90%;
  opacity: 1;
  margin: 0;
}

#logogrp h1 {
  font-family: "Norse Bold";
  font-size: 750%;
  color: #fff;
}
